$fondImg:#F5DBC4;
/* $bordure: 1px solid black; */
#backgroundImg{
    background-color: $fondImg; 
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
   /*  border: $bordure; */
}
body{
    background-color: #355B3E;
    
}
.travalizer{
    margin-top: 120px;
}
#form-section{
    /* border:$bordure; */
    background-color: white;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
/* section form styles*/
 h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    color: #355B3E;
    margin-left: 5px;
}
.titre{
    padding: 35px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}
h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #355B3E;
    width: 442px;
    margin-left: 35px;
}
p{
    margin-left: 35px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #58745E;
    margin-top: 20px;
}
form {
    margin-left:35px;
    margin-top: 30px;
}
label {
    margin-bottom: 10px;
    margin-top: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: #355B3E;
}
#password{
    width: 420px;
    height: 55px;
    border: #B8D6BF 1px solid;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 8px;
}
#email{
    width: 420px;
    height: 55px;
    border:#B8D6BF 1px solid;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 8px;
}
button{
    width: 200px;
    height: 50px;
    border: 1px solid #029664;
    border-radius: 8px;
    margin-right: 20px;
    margin-top: 15px;
}
#login{
    color: white;
    background-color:#029664;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
}
#Sign{
    background-color: white;
    color: #029664;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
}
input[type=checkbox] {
    accent-color:#029664;
}
#label-remember{
    margin-right: 170px;
}
a {
    color: #029664  ;
    text-decoration: none;
}
.FooterTravalizer{
    margin-left: 35px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 400px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #355B3E;
}